@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
header{
  position: relative;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  height: 100px;
  background-color: #0F3D3E;
  opacity: .8;
}

header img {
  border-radius: 5px;
  width: 220px;
  height: 100px;
  position: relative;
  left: 40px;

}

header h1 {
  text-align: center;
  position: relative;
  bottom: 105px;
  font-size: 50px;
  line-height: calc(100% / .5);
  font-weight: 800;
  color: rgba(255, 255, 255, .8);
  font-family: 'Abril Fatface', cursive;
}

header nav {
  float: right;
  position: relative;
  bottom: 160px;
  right: 70px;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
}

header nav a {
  text-decoration: none;
  padding: 25px;
  color: #E2DCC8;
}

header nav a:hover{
  text-decoration: underline;
}

main{
  height: 515px;
  background-image: url(https://wallpaperaccess.com/full/834264.jpg);
    background-size: cover;
    opacity: .85;
    width: 100%;
}

#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#days{
  display: grid;
  grid-column: 1 / 2;
}

#days label:first-of-type {
  position: relative;
  left: 130px;
  font-size: 20px;
  top: 10px;
  color: rgba(255, 255, 255, .8);
  font-family: 'Mukta', sans-serif;
}

#days label:not(:first-of-type) {
  position: relative;
  left: 300px;
  top: 5px;
  font-size: 25px;
  color: rgba(255, 255, 255, .8);
  font-family: 'Mukta', sans-serif;
}

input[type="checkbox"].switch_1{
  font-size: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2em;
  height: 1em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  left: 160px;
  top: 37px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch_1:first-of-type{
    position: relative;
    top: 39px;
  }
  
  input[type="checkbox"].switch_1:checked{
  background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 1em);
  }

  .minutes{
    position: relative;
    left: 100px;
    top: 13px;
  }

.minutes label{
  font-size: 20px;
  color: rgba(255, 255, 255, .8);
  font-family: 'Mukta', sans-serif;
}

.minutes input[type="number"] {
  color: rgba(255, 255, 255, .8);
  background-color: #282A3A;
  transform: scale(1.3, 1.1) translate(15px, -2px);
  border-radius: 5px;

}

button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2, 1.5);
  border-radius: 10px;
  cursor: pointer;
  background-color: #E5E5CB;
  padding: 8px;
  font-family: 'Mukta', sans-serif;
}




footer{
  background-color: #0F3D3E;
  height: 130px;
}

footer a {
  text-decoration: none;
  color: #E6D2AA;
}

footer a:hover{
  text-decoration: underline;
}

footer p {
  font-size: 25px;
  color: #FF9F29;
  opacity: .8;
  font-family: 'Abril Fatface', cursive;
  font-weight: 100;
}

footer p:nth-child(1), footer p:nth-child(2) {
 margin-left: 30px;
}

footer p:nth-child(1) {
padding: 30px 0px;
}

footer p:nth-child(3) {
  text-align: center;
  position: relative;
  bottom: 55px;
  margin-left: 55px;
}

footer p:nth-child(4){
text-align: end;
position: relative;
right: 30px;
bottom: 80px;
}