@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #E8F9FD;
    padding: 20px;
    border-radius: 30px;
    width: 600px;
    height: 380px;
    font-family: 'Fredoka One', cursive;
    color: rgba(0, 0, 0, 0.8);
  }

  .popup-content h2 {
    font-size: 35px;
    color: rgb(213, 18, 18);
    text-align: center;
    margin-bottom: 10px;
  }

    .popup-content span {
      display: block;
      font-size: 20px;
      padding: 20px;
      line-height: 1.5em;
    }

    .popup-content button {
      color: #fff;
      background-color: green;
      border-radius: 30px;
      font-size: 25px;
      padding: 10px;
      width: 100px;
      cursor: pointer;
      margin-left: 250px;
    }

  header{
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    height: 100px;
    background-color: #0F3D3E;
    opacity: .8;
  }
  
  header img {
    border-radius: 5px;
    width: 220px;
    height: 100px;
    position: relative;
    left: 40px;
  
  }
  
  header h1 {
    text-align: center;
    position: relative;
    bottom: 105px;
    font-size: 50px;
    line-height: calc(100% / .5);
    font-weight: 800;
    color: rgba(255, 255, 255, .8);
    font-family: 'Abril Fatface', cursive;
  }
  
  header nav {
    float: right;
    position: relative;
    bottom: 160px;
    right: 70px;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
  }
  
  header nav a {
    text-decoration: none;
    padding: 25px;
    color: #E2DCC8;
  }

  header nav a:hover{
    text-decoration: underline;
}

  main{
    background-color: #CCEABB;
    margin-top: -20px;
  }

  main p {
    color: rgba(0, 0, 0, 0.7);
    width: 60%;
font-size: 23px;
padding: 10px;
text-align: center;
line-height: 1.8em;
position: relative;
left: 280px;
font-family: 'Mukta', sans-serif;
}

main p:first-of-type{
  margin-top: 20px;
}

main p:nth-child(3){
  margin-bottom: 40px;
}

main ol h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

 .advan {
 position: relative;
  font-size: 20px;
  margin: 20px 0px;
}

ol.advan li {
  position: relative;
  top: 50%;
  left: 38.5%;
line-height: 1.5em;
font-family: 'Mukta', sans-serif;
color: rgba(0, 0, 0, 0.8);
}

main img{
  width:35%;
  height: 300px;
  position: relative;
  top: 50%;
  left: 35%;
  margin: 40px 0px;
}

main img:nth-child(3){
  width: 30%;
}
  
  footer{
    background-color: #0F3D3E;
    height: 130px;
  }
  
  footer a {
    text-decoration: none;
    color: #E6D2AA;
  }

  footer a:hover{
    text-decoration: underline;
}
  
  footer p {
    font-size: 25px;
    color: #FF9F29;
    opacity: .8;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
  }
  
  footer p:nth-child(1), footer p:nth-child(2) {
   margin-left: 30px;
  }
  
  footer p:nth-child(1) {
  padding: 30px 0px;
  }
  
  footer p:nth-child(3) {
    text-align: center;
    position: relative;
    bottom: 55px;
    margin-left: 55px;
  }
  
  footer p:nth-child(4){
  text-align: end;
  position: relative;
  right: 30px;
  bottom: 80px;
  }